{% extends 'catalog/base.html' %}
{% load static %}

{% block header %}
    <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Warehouse</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="catalog.html">Catalog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Personal storage</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">login</a>
            </li>
{% endblock %}