{% extends 'catalog/base.html' %}
{% load static %}

{% block header %}
    <nav class="nav nav-pills flex-column flex-sm-row">
        <a class="flex-sm-fill text-sm-center nav-link active" aria-current="page" href="#">Warehouse</a>
        <a class="flex-sm-fill text-sm-center nav-link" href="{% url 'catalog' %}">Catalog</a>
        <a class="flex-sm-fill text-sm-center nav-link" href="{# {% url 'login' %} #}">login</a>
        <a class="flex-sm-fill text-sm-center nav-link disabled">Disabled</a>
    </nav>
{% endblock %}
{% block content %}

{% endblock %}