{% extends 'catalog/base.html' %}
{% load static %}

{% block header %}
    <nav class="nav nav-pills flex-column flex-sm-row">
        <a class="flex-sm-fill text-sm-center nav-link" href="{% url 'index' %}">Warehouse</a>
        <a class="flex-sm-fill text-sm-center nav-link" href="{% url 'catalog' %}">Catalog</a>
        <a class="flex-sm-fill text-sm-center nav-link active" aria-current="page" href="#">login</a>
        <a class="flex-sm-fill text-sm-center nav-link disabled">Disabled</a>
    </nav>
{% endblock %}
{% block content %}
    <div class="row" style="margin-bottom: 300px; margin-top: 180px">
        <div class="col-md-6 offset-md-3">
            <h3 class="text-center">Login</h3>
            <hr>
            <form action="" method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" class="btn btn-success" value="Enter">
            </form>
        </div>

    </div>

{% endblock %}